/* CSS FOOTER*/

footer {
    background-color: $color-principal-violetaOscuro;
    @include padding(10px 0 10px 0);

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        color: $color-principal-celeste;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    li {
        list-style-type: none;
        padding-right: 2px;
    }
}

#h3Footer {
    @include font-size (2rem);
    font-weight: 600;
    text-decoration: none;
    color: $color-principal-celeste;
}