/* CSS FOOTER*/
footer {
  background-color: #1e1b50;
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #c8f1ff;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

footer li {
  list-style-type: none;
  padding-right: 2px;
}

#h3Footer {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #c8f1ff;
}
