/* CSS +1024 */

@media screen and (min-width: 1024px) {

    /* CSS +1024 NAV */

    .navbar-font-size {
        @include font-size(2.5rem);
    }

    .nav-font-size {
        @include font-size(2rem);
    }

    /* CSS +1024 ACERCA DE MI */

    #bodyGrid__Acerca {
        color: $color-principal-violetaOscuro;
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-areas:
            "header header"
            "sectionAcerca sectionAcerca-2"
            "footer footer";
        grid-row-gap: 15px;
        height: 800px;
        align-items: center;
    }

    #grid__section__acerca {
        margin-right: 15px;
        @include size(500px, 500px);
        text-align: right;

        img {
            width: 300px;
        }
    }

    #grid__section__acerca-2 {
        grid-area: sectionAcerca-2;
        @include size(500px, 500px);
        margin-left: 15px;

        h2 {
            @include font-size(4rem);
        }

        h3 {
            @include font-size(2rem);
            @include padding(20px 0px 20px 0);
        }

        p {
            @include font-size(1.7rem);
            text-align: justify;
        }
    }

    /* CSS +1024 CONTACTO */

    #bodyGrid__Contacto {
        display: grid;
        grid-template-areas:
            "header"
            "sectionContacto"
            "footer";
        grid-row-gap: 15px;
    }

    form {
        width: 65%;
        @include font-size(1.5rem);
    }

    .botones:hover {
        background-color: #c8f1ff;
        color: $color-principal-violetaOscuro;
        transform: scale(1.1);
        transition-duration: 0.3s;
    }

    /* CSS +1024 PATREON */

    #bodygrid__Patreon {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "header"
        "sectionPatreon"
        "footer";
        grid-row-gap: 10px;
    }
    
    #patreon__section {
        grid-area: sectionPatreon;
        height: 550px;
        @include margin(auto);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    
    #patreon__h2 {
        text-align: center;
        @include font-size(2.7rem);
    }
    
    #patreon__img {
        display: block;
        width: 70%;
        @include margin(auto);
        border-radius: 10%;

        &:hover {
            -webkit-box-shadow: 5px 5px 25px 0px rgba(30,27,80,1);
            -moz-box-shadow: 5px 5px 25px 0px rgba(30,27,80,1);
            box-shadow: 5px 5px 25px 0px rgba(30,27,80,1);
            transition-duration: 0.1s;
        }
    }

    /* CSS +1024 TORNEOS */

    #bodygrid__Torneos {
        display: grid;
        grid-template-areas: 
        "header"
        "sectionTorneos"
        "footer";
        grid-row-gap: 5px;
    }
    
    .section__torneos {
        grid-area: sectionTorneos;
        @include size(95%, 700px);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .torneosLogos {
        width: 120px;

        &:hover {
            transform: scale(1.2);
            transition-duration: 0.2s;
        }
    }
    
    .torneosH3 {
        @include font-size(3rem);
    }

    .torneosH3:hover {
        transform: scale(1.1);
        transition-duration: 0.2s;
    }
    
    .torneosP {
        @include font-size(2.5rem);
    }

    /* CSS +1024 NOTICIA EJEMPLO */

    #bodyGrid__NoticiaEjemplo {
        display: grid;
        grid-template-areas:
            "header"
            "sectionNoticiaEjemplo"
            "footer";
        grid-row-gap: 5px;
        height: auto;
    }
    
    #sectionNoticiaEjemplo {
        grid-area: sectionNoticiaEjemplo;
        @include margin(auto);
        width: 85%;
        color: $color-principal-violetaOscuro;

        h1 {
            @include font-size(2.5rem);
            text-align: center;
            @include padding(5px);
        }

        h2 {
            @include font-size(2rem);
            text-align: center;
            @include padding(5px);
        }

        h3 {
            @include font-size(1.9rem);
            text-align: left;
            @include padding(5px);
        }

        p {
            @include font-size(1.7rem);
            font-weight: 500;
            text-align: justify;
            @include padding(5px);
        }

        img {
            text-align: center;
            @include padding (5px);
        }

        ul {
            @include font-size (1.7rem);
            font-weight: 500;
            text-align: justify;
            @include padding (5px);
        }
    
    }
    
    #sectionNoticiaEjemplo__iframe {
        @include size (100%, 400px);
        @include padding (5px);
    }

    /* CSS +1024 FOOTER */
    
    @extend .grid__footer;
    
    .grid__footer {
        
        li:hover {
            transform: scale(1.2);
            transition-duration: 0.3s;
        }

        h3:hover {
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
    }

    .footerLogo {
        width: 100px;
    }

    .footer__logo {
        width: 50px;
        @include padding(0 5px 0 0);
    }

    #h3Footer {
        @include font-size(2.5rem);
        font-weight: 600;
    }
}