/* CSS +320 */

@media screen and (min-width: 320px) {

    /* CSS +320 GRID */
    .bodyGrid__inicio {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "sectionNoticia"
            "sectionNoticia-2"
            "sectionNoticia-3"
            "sectionNoticia-4"
            "footer";
        height: auto;
    }

    /* CSS +320 NAV */

    .navbar-font-size {
        font-size: 1.5rem;
    }

    .nav-font-size {
        font-size: 1.2rem;
    }

    /* CSS +320 INDEX */

    #grid__section__inicio a h2, #grid__section__inicio-2 a h2, #grid__section__inicio-3 a h2, #grid__section__inicio-4 a h2 {
        font-size: 1.25rem;
        margin: 5px;
    }
    
    #grid__section__inicio a h3, #grid__section__inicio-2 a h3, #grid__section__inicio-3 a h3, #grid__section__inicio-4 a h3 {
        font-size: 0.9rem;
        font-weight: 500;
        margin: 5px;
    }

    /* CSS +320 ACERCA DE MI */

    #bodyGrid__Acerca {
        color: $color-principal-violetaOscuro;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2fr 4.5fr 3fr 1fr;
        grid-template-areas:
            "header"
            "sectionAcerca"
            "sectionAcerca-2"
            "footer";
        width: 100%;
        height: 100vh;
        grid-row-gap: 5px;
    }

    #grid__section__acerca {
        text-align: center;
        justify-self: center;
        align-self: end;
        height: 300px;
        width: 300px;

        img {
            margin: auto;
            height: 100%;
        }
    }
    
    #grid__section__acerca-2 {
        text-align: center;
        width: 90%;
        height: 200px;
        margin: auto;
    
        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1rem;
            padding: 10px 0px 10px 0;
        }

        p {
            font-size: 0.75rem;
            text-align: justify;
        }
    }

    /* CSS +320 CONTACTO */

    #bodyGrid__Contacto {
        display: grid;
        grid-template-rows: 1fr 5fr 0.5fr;
        grid-template-areas:
            "header"
            "sectionContacto"
            "footer";
        grid-row-gap: 10px;
        height: 100vh;
    }

    /* CSS +320 PATREON */

    #bodygrid__Patreon {
        display: grid;
        grid-template-rows: 1fr 3.8fr auto;
        grid-template-areas:
        "header"
        "sectionPatreon"
        "footer";
        grid-row-gap: 5px;
    }

    #patreon__section {
        grid-area: sectionPatreon;
        height: 560px;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    
    #patreon__h2 {
        text-align: center;
        font-size: 2rem;
        margin: 5px;
    }

    #patreon__img {
        display: block;
        width: 80%;
        margin: auto;
        border-radius: 10%;
    }
    
    /* CSS +320 TORNEOS */

    #bodygrid__Torneos {
        display: grid;
        grid-template-areas: 
        "header"
        "sectionTorneos"
        "footer";
        grid-row-gap: 5px;
    }
    
    .section__torneos {
        justify-self: center;

        grid-area: sectionTorneos;
        width: 95%;
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    
    .torneosLogos {
        width: 50px;
    }

    .torneosH3 {
        font-size: 1.5rem;
    }
    
    .torneosP {
        font-size: 1rem;
    }

    /* CSS +320 NOTICIA EJEMPLO */

    #bodyGrid__NoticiaEjemplo {
        display: grid;
        grid-template-areas:
            "header"
            "sectionNoticiaEjemplo"
            "footer";
        grid-row-gap: 5px;
        height: auto;
    }
    
    #sectionNoticiaEjemplo {
        grid-area: sectionNoticiaEjemplo;
        margin: auto;
        width: 300px;
        color: $color-principal-violetaOscuro;

        h1 {
            font-size: 2.5rem;
            text-align: center;
            padding: 5px;
        }

        h2 {
            font-size: 2rem;
            text-align: center;
            padding: 5px;
        }

        h3 {
            font-size: 1.5rem;
            text-align: left;
            padding: 5px;
        }

        p {
            font-size: 1.5rem;
            font-weight: 500;
            text-align: justify;
            padding: 5px;
        }

        img {
            text-align: center;
            padding: 5px;
        }

        ul {
            font-size: 1.5rem;
            font-weight: 500;
            text-align: justify;
            padding: 5px;
        }
    }
    
    #sectionNoticiaEjemplo__iframe {
        width: 100%;
        padding: 5px;
    }

    /* CSS +320 FOOTER */
    footer {
        background-color: $color-principal-violetaOscuro;
        padding-top: 10px;
        padding-bottom: 5px;
    
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .footerLogo {
        width: 45px;
    }

    .footer__logo {
        width: 15px;
    }

    #h3Footer {
        font-size: 0.75rem;
        font-weight: 600;
    }
}